.SelfServiceTableHeader,
.SelfServiceTableBody {
  display: grid;
  grid-template-columns: 30% 30% 10% 30%;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}
.SelfServiceTableBody > div,
.SelfServiceTableHeader > div {
  padding: 0 10px;
}
@media screen and (max-width: 500px) {
  .SelfServiceTable {
    overflow-x: auto;
  }
  .SelfServiceTableHeader,
  .SelfServiceTableBody {
    grid-template-columns: 60% 60% 30% 60%;
  }
  .SelfServiceTable > hr {
      width: 210%;
  }
}
