.PaymentRunsPdf {
  padding: 20px;
}
th,
td {
  border: 1px solid black;
}
.PdfBody {
  padding: 10px;
}
table {
  width: 40%;
}
tr {
  display: grid;
  grid-template-columns: 20% calc(80%/6) calc(80%/6) calc(80%/6) calc(80%/6) calc(80%/6) calc(80%/6);
}
