.Modal {
    position: fixed;
    width: 30%;
    max-height: 40%;
    left: 35%;
    top: 20%;
    /* transition: .4s ease all; */
    z-index: 450;
    background: white;
    overflow-y: auto;
}
@media screen and (max-width: 800px) {
    .Modal {
        width: 60%;
        left: 20%;
    }
}
@media screen and (max-width: 800px) {
    .Modal {
        width: 90%;
        left: 5%;
    }
}